<a href="https://colab.research.google.com/github/rajan5639/pw_data_science/blob/main/py_assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

#reverse the string
def reverse_string(s):
    return s[::-1]

# Example
print(reverse_string("hello"))  # Output: "olleh"

olleh

In [ ]:
#✅ 2. Write a code to count the number of vowels in a string.


def count_vowels(s):
    vowels = 'aeiouAEIOU'
    return sum(1 for char in s if char in vowels)

# Example
print(count_vowels("hello"))  # Output: 2

2

In [ ]:
#✅ 3. Write a code to check if a given string is a palindrome or not.
def is_palindrome(s):
    return s == s[::-1]

# Example
print(is_palindrome("madam"))  # Output: True

True

In [ ]:
#✅ 4. Write a code to check if two given strings are anagrams of each other.

def are_anagrams(s1, s2):
    return sorted(s1) == sorted(s2)

# Example
print(are_anagrams("listen", "silent"))  # Output: True

True

In [ ]:
#✅ 5. Write a code to find all occurrences of a given substring within another string.

def find_occurrences(text, sub):
    indices = []
    for i in range(len(text) - len(sub) + 1):
        if text[i:i+len(sub)] == sub:
            indices.append(i)
    return indices

# Example
print(find_occurrences("banana", "ana"))  # Output: [1, 3]

[1, 3]

In [ ]:
#6. Write a code to perform basic string compression using the counts of repeated characters.

def compress_string(s):
    result = ""
    count = 1
    for i in range(1, len(s)):
        if s[i] == s[i-1]:
            count += 1
        else:
            result += s[i-1] + str(count)
            count = 1
    result += s[-1] + str(count)
    return result
print(compress_string("aaabbc"))  # Output: "a3b2c1"

a3b2c1

In [ ]:
#7. Write a code to determine if a string has all unique characters.

def all_unique(s):
    return len(set(s)) == len(s)

# Example
print(all_unique("hello"))  # Output: False
print(all_unique("abc"))    # Output: True

False
True

In [ ]:
#8. Write a code to convert a given string to uppercase or lowercase.

def convert_case(s):
    return s.upper(), s.lower()

# Example
print(convert_case("Hello"))  # Output: ('HELLO', 'hello')

('HELLO', 'hello')

In [ ]:

#9. Write a code to count the number of words in a string.

def count_words(s):
    return len(s.split())

# Example
print(count_words("Hello world this is Python"))  # Output: 5

5

In [ ]:
#10. Write a code to concatenate two strings without using the + operator.

def concat_strings(a, b):
    return "{}{}".format(a, b)

# Example
print(concat_strings("Hello", "World"))  # Output: "HelloWorld"

HelloWorld

In [ ]:
#11. Write a code to remove all occurrences of a specific element from a list.

def remove_element(lst, val):
    return [x for x in lst if x != val]

# Example
print(remove_element([1, 2, 3, 2, 4], 2))  # Output: [1, 3, 4]

[1, 3, 4]

In [ ]:
#12. Implement a code to find the second largest number in a given list of integers.

def second_largest(lst):
    unique = list(set(lst))
    unique.sort()
    return unique[-2] if len(unique) >= 2 else None

# Example
print(second_largest([1, 2, 4, 3, 4]))  # Output: 3

3

In [ ]:

#13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

def count_elements(lst):
    count_dict = {}
    for item in lst:
        count_dict[item] = count_dict.get(item, 0) + 1
    return count_dict

# Example
print(count_elements([1, 2, 2, 3, 1, 1]))  # Output: {1: 3, 2: 2, 3: 1}

{1: 3, 2: 2, 3: 1}

In [ ]:
#14. Write a code to reverse a list in-place without using any built-in reverse functions.

def reverse_list(lst):
    start, end = 0, len(lst) - 1
    while start < end:
        lst[start], lst[end] = lst[end], lst[start]
        start += 1
        end -= 1
    return lst

# Example
print(reverse_list([1, 2, 3, 4]))  # Output: [4, 3, 2, 1]

[4, 3, 2, 1]

In [ ]:

#15. Implement a code to find and remove duplicates from a list while preserving the original order of elements.

def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result

# Example
print(remove_duplicates([1, 2, 2, 3, 1, 4]))  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [ ]:

#16. Create a code to check if a given list is sorted (either in ascending or descending order) or not.

def is_sorted(lst):
    return lst == sorted(lst) or lst == sorted(lst, reverse=True)

# Example
print(is_sorted([1, 2, 3]))     # Output: True
print(is_sorted([3, 2, 1]))     # Output: True
print(is_sorted([1, 3, 2]))     # Output: False

True
True
False

In [ ]:
#17. Write a code to merge two sorted lists into a single sorted list.

def merge_sorted_lists(a, b):
    return sorted(a + b)

# Example
print(merge_sorted_lists([1, 3, 5], [2, 4, 6]))  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [ ]:
#18. Implement a code to find the intersection of two given lists.

def intersection(a, b):
    return list(set(a) & set(b))

# Example
print(intersection([1, 2, 3], [2, 3, 4]))  # Output: [2, 3]

[2, 3]

In [ ]:
#19. Create a code to find the union of two lists without duplicates.

def union(a, b):
    return list(set(a) | set(b))

# Example
print(union([1, 2], [2, 3]))  # Output: [1, 2, 3]

[1, 2, 3]

In [ ]:

#20. Write a code to shuffle a given list randomly without using any built-in shuffle functions.

import random

def manual_shuffle(lst):
    shuffled = []
    indices = list(range(len(lst)))
    while indices:
        idx = random.choice(indices)
        shuffled.append(lst[idx])
        indices.remove(idx)
    return shuffled

print(manual_shuffle([1, 2, 3, 4]))  # Output: Shuffled list like [3, 1, 4, 2]

[3, 4, 2, 1]

In [ ]:
# Example
#21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

def common_tuple_elements(t1, t2):
    return tuple(set(t1) & set(t2))

# Example
print(common_tuple_elements((1, 2, 3), (2, 3, 4)))  # Output: (2, 3)

(2, 3)

In [ ]:
#22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.

def intersection_from_input():
    set1 = set(map(int, input("Enter elements of first set (comma-separated): ").split(',')))
    set2 = set(map(int, input("Enter elements of second set (comma-separated): ").split(',')))
    print("Intersection:", set1 & set2)

In [ ]:
#24. Prompt user to input two sets of strings. Print elements in first set but not in second.

def difference_of_sets():
    set1 = set(input("Enter first set (comma-separated): ").split(","))
    set2 = set(input("Enter second set (comma-separated): ").split(","))
    print("Elements in first but not in second:", set1 - set2)

In [ ]:
# Run: difference_of_sets()
#25. Function takes a tuple and two integers (range); returns new tuple with elements from that range.

def slice_tuple(tup, start, end):
    return tup[start:end]

# Example
print(slice_tuple((10, 20, 30, 40, 50), 1, 4))  # Output: (20, 30, 40)

(20, 30, 40)

In [ ]:
#26. Prompt user to input two sets of characters. Print union.

def union_of_sets():
    set1 = set(input("Enter first set (chars): "))
    set2 = set(input("Enter second set (chars): "))
    print("Union:", set1 | set2)

union_of_sets()

Enter first set (chars): d
Enter second set (chars): d
Union: {'d'}

In [ ]:
#27. Function takes a tuple of integers; return max and min using tuple unpacking.

def max_min_tuple(tup):
    return max(tup), min(tup)

# Example
print(max_min_tuple((3, 1, 7, 2)))  # Output: (7, 1)

(7, 1)

In [ ]:
#28. Create two sets of integers; print union, intersection, and difference.

def set_operations():
    a = set(map(int, input("Enter Set A: ").split(",")))
    b = set(map(int, input("Enter Set B: ").split(",")))
    print("Union:", a | b)
    print("Intersection:", a & b)
    print("Difference (A - B):", a - b)
set_operations()

In [ ]:

#29. Function takes a tuple and element; returns count of that element.

def count_in_tuple(tup, el):
    return tup.count(el)

# Example
print(count_in_tuple((1, 2, 3, 2, 4, 2), 2))  # Output: 3

3

In [ ]:
#30. Prompt user to enter 2 sets of strings; print symmetric difference.

def symmetric_difference():
    a = set(input("Enter Set A: ").split(","))
    b = set(input("Enter Set B: ").split(","))
    print("Symmetric Difference:", a ^ b)

symmetric_difference()

Enter Set A: a
Enter Set B: s
Symmetric Difference: {'a', 's'}

In [ ]:
#31. Return dictionary where keys = unique words, values = frequency.

def word_freq(words):
    freq = {}
    for word in words:
        freq[word] = freq.get(word, 0) + 1
    return freq

# Example
print(word_freq(["apple", "banana", "apple", "orange", "banana", "banana"]))

{'apple': 2, 'banana': 3, 'orange': 1}

In [ ]:
#32. Merge two dictionaries; for common keys, add values.

def merge_dicts(d1, d2):
    result = d1.copy()
    for key, val in d2.items():
        if key in result:
            result[key] += val
        else:
            result[key] = val
    return result

# Example
print(merge_dicts({'a': 1, 'b': 2}, {'b': 3, 'c': 4}))

{'a': 1, 'b': 5, 'c': 4}